<p>
  <strong>Welcome<strong> to MyApp!
</p>
<p>
  Your email address is <%= @email_address %> <br />

  <br />
  <!-- <a href ="localhost:4000/api/users/<% @username %>/verify"> CLICK THIS TO VERIFY YOUR ACCOUNT </a > -->
  <a href ="http://localhost:4000/api/users/<%= @username %>/verify"> CLICK THIS TO VERIFY YOUR ACCOUNT </a >
</p>
