<p>
  <strong>Welcome<strong> to MyApp!
</p>
<p>
  Your email address is <%= @email_address %> <br />

  <br />
  <a href ="https://bulsu.herokuapp.com/api/users/<%= @username %>/verify"> CLICK THIS TO VERIFY YOUR ACCOUNT </a >
</p>
